* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: system-ui, sans-serif;
  background-color: white;
}

html {
  font-size: clamp(14px, 1vw, 18px);
}

/* nav {
  background-color: white;
  padding: 1rem;
} */
.nav-bar {
  width: 100%;
  display: flex;
  border: 0.2rem solid black;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.nav-bar .main-menu ul li {
  list-style: none;
  display: inline-block;
  margin: 0rem 1rem;
  color: rgba(0, 0, 0, 0.76);
}

.nav-bar .logo {
  display: flex;
  align-items: center;
  margin-left: 2rem;

}

.nav-bar .logo h1 {
  /* font-size: 2rem; */
  color: #111111a9;
  margin-left: 1rem;
  font-weight: 500;
}

.nav-bar .logo i {
  color: #5FC9F8;
  font-size: 3rem;
}

.nav-bar .main-menu ul i {
  color: rgba(0, 0, 0, 0.76);
}

/* View1 (Mobile First)  */

.view1 {
  margin-top: 2rem;
  background: linear-gradient(#F3FCFF, rgba(255, 205, 214, 0.589) 70%);
}

.view1 .container .top img {
  width: 100%;
  display: block;
}

.view1 .top {
  padding: 2rem;
}

.view1 .bottom h1 {
  font-size: 2.5rem;
  padding: 2rem;
  text-align: center;
  line-height: 1.1;
}

.view1 .text {
  padding: 1.5rem;
  margin: 2rem 0 4rem;
}

.view1 .text p {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.877);

}

/* View2 (Mobile First)  */

.view2 {
  margin-top: 10rem;
}

.view2 .container .img img {
  width: 100%;
  max-width: 332px;
  height: auto;
  max-height: 285px;
  object-fit: cover;
}

.view2 .container p {
  font-size: 1.3rem;
  padding-right: 7rem;
  padding-left: 2rem;
}

.view2 .container h1 {
  padding-bottom: 2rem;
  padding-left: 2rem;
}

.view2 .container .img {
  margin-top: 5rem;
  text-align: center;
}

/* View3 (Mobile First)  */

.view3 .container .top img {
  width: 100%;
  max-width: 332px;
  height: auto;
  object-fit: cover;
}

.view3 .container .top {
  margin-top: 10rem;
  text-align: center;
}

.view3 .container .bottom {
  padding: 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.view3 .container .bottom h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.view3 .container .bottom h3 {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.61);
}

.view3 .container .bottom p {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  padding-right: 1.5rem;
  color: rgba(0, 0, 0, 0.637);
}

.view3 .container .bottom .btn {
  display: flex;
  flex-direction: column;
  padding-right: 10rem;
  gap: 2rem;
}

.view3 .container .bottom button {
  padding: 0.8rem 3rem;
  border-radius: 3rem;
  border: solid #0468D7;
  color: #0468D7;
}

.view3 .container .bottom .btn button:hover {
  background-color: #0468D7;
  color: white;
}

.view3 .container .bottom .btn a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  margin-left: 2rem;
}

/* View4 (Mobile First)  */

.view4 {
  background: linear-gradient(to top, #FCFCE2, white);
}

.view4 .container .top img {
  width: 100%;
  max-width: 370px;
  height: auto;
  object-fit: cover;
}

.view4 .container .top {
  text-align: center;
}

.view4 .container .bottom {
  padding: 2rem;
  margin-top: 5rem;
}

.view4 .container .bottom h1 {
  font-size: 3.3rem;
  margin-bottom: 1.5rem;
  line-height: 3rem;
  font-weight: 650;
}

.view4 .container .bottom h3 {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.61);
}

.view4 .container .bottom p {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  padding-right: 1.5rem;
  color: rgba(0, 0, 0, 0.637);
}

.view4 .container .bottom button {
  padding: 0.8rem 3rem;
  border-radius: 3rem;
  background-color: #0468D7;
  color: white;
  border: none;
}

/* View5 (Mobile First)  */

.view5 .container {
  margin-top: 5rem;
}

.view5 .container .top img {
  width: 100%;
  max-width: 370px;
  height: auto;
  object-fit: cover;
}

.view5 .container .top {
  text-align: center;
}

.view5 .container .bottom {
  padding: 2rem;
  margin-top: 5rem;
}

.view5 .container .bottom h1 {
  font-size: 3.3rem;
  margin-bottom: 1.5rem;
  line-height: 3rem;
  font-weight: 650;
}

.view5 .container .bottom h3 {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.61);
}

.view5 .container .bottom p {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  padding-right: 1.5rem;
  color: rgba(0, 0, 0, 0.637);
}

.view5 .container .bottom button {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: white;
  color: #0468D7;
  border: #0468D7 solid;
}

/* View6 (Mobile First)  */

.view6 {
  background: linear-gradient(to top, #FCFCE2, white);
}

.view6 .container {
  margin-top: 5rem;
}

.view6 .container .top img {
  width: 100%;
  max-width: 370px;
  height: auto;
  object-fit: cover;
}

.view6 .container .top {
  text-align: center;
}

.view6 .container .bottom {
  padding: 2rem;
  margin-top: 5rem;
}

.view6 .container .bottom h1 {
  font-size: 3.3rem;
  margin-bottom: 1.5rem;
  line-height: 3rem;
  font-weight: 650;
}

.view6 .container .bottom h3 {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.61);
}

.view6 .container .bottom p {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  padding-right: 1.5rem;
  color: rgba(0, 0, 0, 0.637);
}

.view6 .container .bottom button {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: #0468D7;
  color: white;
  border: #0468D7 solid;
  cursor: pointer;
}

/* View7 (Mobile First)  */

.view7 {
  background-color: white;
  padding: 2rem 2rem;
  width: 100%;
  margin: 4rem 0rem;
}

.view7 .container {
  width: 100%;
  border-radius: 3rem;
  background-color: #042449;
  overflow: hidden;
  position: relative;
}

.view7 .container .img img {
  width: 100%;
  height: 470px;
}

.view7 .container .text {
  top: 30%;
  position: absolute;
  padding-left: 3rem;
  padding-right: 3rem;
}

.view7 .container .text h1 {
  font-size: 3.5rem;
  font-weight: 500;
  color: white;
  margin-bottom: 1.2rem;
}

.view7 .container .text p {
  color: white;
  font-size: 1.3rem;
}

.view7 .container .text .btn {
  color: white;
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  align-items: center;
}

.view7 .container .text .btn a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.view7 .container .text .btn i {
  font-weight: 500;
}

.view7 .container .text button {
  padding: 1rem 2.8rem;
  border-radius: 2rem;
  color: #0468D7;
  border: none;
  font-size: 1rem;
  font-weight: 700;
}

/* Footer (Mobile First)  */

footer {
  padding: 5rem 3.5rem;
  background-color: #F8F9FA;
}

footer .links {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 4rem;
}

footer .links ul {
  list-style-type: none;
}

footer .links ul li a {
  text-decoration: none;
}

footer .logo {
  display: flex;
  margin-bottom: 3rem;
}

footer .logo i {
  color: #5FC9F8;
  font-size: 3rem;
}

footer .logo h1 {
  font-weight: 500;
  color: #111111a9;
}

footer .links ul h3 {
  margin-bottom: 0.8rem;
}

footer .links {
  padding-left: 1rem;
}

footer .links li a {
  font-size: 1.1rem;
  line-height: 2.2rem;
  color: rgba(0, 0, 0, 0.76);
}

footer .links ul {
  margin-bottom: 2rem;
}

footer .social-links {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  margin-bottom: 3rem;
}

footer .social-links i {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.712);

}

footer .termCondition {
  margin-top: 3rem;
}

footer .term .text {
  padding: 3rem;
}

footer .termCondition .text p {
  color: rgba(0, 0, 0, 0.76);
}

footer .term {
  margin-top: 2rem;
}

footer .termCondition .term ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

footer .termCondition .term ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.76);
}

footer .termCondition .term ul {
  list-style-type: none;
}

@media (min-width: 900px) {

  /* View1 (Desktop)  */

  .container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .top,
  .bottom {
    width: 50%;
  }

  .view1 .bottom h1 {
    font-size: 5rem;
    padding-left: 5rem;
  }

  .view1 .text p {
    font-size: 2.5rem;
    max-width: 899px;
    margin: 0 auto;
  }

  .view1 .text {
    margin-bottom: 10rem;
  }

  /* View2 (Desktop)  */

  .view2 .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-between;
    padding-left: 4rem;
  }

  .view2 .container p {
    font-size: 1.5rem;
    padding-right: 7rem;
  }

  .view2 .container h1 {
    padding-bottom: 2rem;
  }

  .view2 .container .img {
    margin-top: 5rem;
  }

  /* View3 (Desktop)  */

  .view3 .container {
    padding: 2rem;
  }

  .view3 .container .bottom,
  .bottom {
    width: 50%;
  }

  .view3 .container .top img {
    width: 100%;
    max-width: 480px;
    height: auto;
  }

  .view3 .container .bottom .text h1 {
    font-size: 4.5rem;
    font-weight: 600;
  }

  .view3 .container .bottom .text {
    padding-left: 5rem;
  }

  .view3 .container .bottom .btn {
    display: flex;
    flex-direction: row;
  }

  .view3 .container .bottom .btn button {
    padding: 0rem 4rem;
  }

  /* View4 (Desktop)  */
  .view4 {
    background: linear-gradient(to right, #FCFCE2, white);
  }

  .view4 .container {
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: row;
  }

  .view4 .container .bottom,
  .bottom {
    width: 50%;
  }

  .view4 .container .top img {
    width: 100%;
    max-width: 480px;
    height: auto;
  }

  .view4 .container .bottom .text h1 {
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 4rem;
  }

  .view4 .container .bottom .text {
    padding-left: 5rem;
  }

  .view4 .container .bottom .text p {
    font-size: 1.5rem;
  }

  /* View5 (Desktop)  */

  .view5 .container {
    margin-top: 4rem;
    padding: 2rem;
    display: flex;
  }

  .view5 .container .bottom,
  .bottom {
    width: 50%;
  }

  .view5 .container .top img {
    width: 100%;
    max-width: 480px;
    height: auto;
  }

  .view5 .container .bottom .text h1 {
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 4rem;
  }

  .view5 .container .bottom .text {
    padding-left: 5rem;
  }

  .view5 .container .bottom .text p {
    font-size: 1.5rem;
  }

  /* View6 (Desktop)  */

  .view6 {
    background: linear-gradient(to right, #FCFCE2, white);
  }

  .view6 .container {
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: row;
  }

  .view6 .container .bottom,
  .bottom {
    width: 50%;
  }

  .view6 .container .top img {
    width: 100%;
    max-width: 460px;
    height: auto;
  }

  .view6 .container .bottom .text h1 {
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 4rem;
  }

  .view6 .container .bottom .text {
    padding-left: 5rem;
  }

  .view6 .container .bottom .text p {
    font-size: 1.5rem;
  }

  /* View7 (Desktop)  */

  .view7 {
    padding: 6rem;
    /* margin: 2rem 0rem 4rem 0rem; */
  }

  .view7 .container .text {
    top: 20%;
    left: 2%;
    position: absolute;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .view7 .container .text p {
    font-size: 1.5rem;
  }

  .view7 .container .text h1 {
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 0.2rem;
  }

  .view7 .container img {
    width: 100%;
    max-width: 380px;
    max-height: 320px;
  }

  .view7 .container .text .btn button {
    padding: 0.7rem 2.2rem;
  }

  /* Footer (Desktop)  */

  footer .main {
    display: flex;
    gap: 8rem;
  }

  footer .main .logo {
    margin-right: 25rem;
  }

  footer .social-links {
    justify-content: start;
  }

  footer .termCondition {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer .term {
    padding-bottom: 3rem;
  }
}

@media(min-width:3860px) {

  .view1,
  .view2,
  .view3,
  .view4,
  .view5,
  .view6,
  .view7,
  footer {
    padding: 0rem 100rem;
  }
}