* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: system-ui, sans-serif;
  background-color: #F4F7FB;
}

html {
  font-size: clamp(14px, 1vw, 18px);
}

nav {
  background-color: #f8bbd0;
  padding: 1rem;
}

/* Main Section (Mobile First)  */
.view1 .container .top img {
  width: 100%;
  display: block;
}

.view1 .top {
  padding: 2rem;
}

.view1 .bottom h1 {
  font-size: 2.5rem;
  padding: 2rem;
  text-align: center;
  line-height: 1.1;
}

.view1 .text {
  padding: 1.5rem;
  margin: 2rem 0 4rem;
}

.view1 .text p {
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.4;
}

@media (min-width: 900px) {
  .container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .top,
  .bottom {
    width: 50%;
  }

  .view1 .bottom h1 {
    font-size: 5rem;
    padding-left: 5rem;
  }

  .view1 .text p {
    font-size: 2.5rem;
    max-width: 900px;
    margin: 0 auto;
  }

  .view1 .text {
    margin-bottom: 10rem;
  }
}