* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: system-ui, sans-serif;
  background-color: white;
}

html {
  font-size: clamp(14px, 1vw, 18px);
}

nav {
  background-color: #f8bbd0;
  padding: 1rem;
}

/* View1 (Mobile First)  */
.view1 .container .top img {
  width: 100%;
  display: block;
}

.view1 .top {
  padding: 2rem;
}

.view1 .bottom h1 {
  font-size: 2.5rem;
  padding: 2rem;
  text-align: center;
  line-height: 1.1;
}

.view1 .text {
  padding: 1.5rem;
  margin: 2rem 0 4rem;
}

.view1 .text p {
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.4;
}

/* View2 (Mobile First)  */
.view2 .container .img img {
  width: 100%;
  max-width: 332px;
  height: auto;
  max-height: 285px;
  object-fit: cover;
}

.view2 .container p {
  font-size: 1.3rem;
  padding-right: 7rem;
  padding-left: 2rem;
}

.view2 .container h1 {
  padding-bottom: 2rem;
  padding-left: 2rem;
}

.view2 .container .img {
  margin-top: 5rem;
  text-align: center;
}

/* View3 (Mobile First)  */
.view3 .container .top img{
  width: 100%;
  max-width: 350px;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  text-align: center;
}

@media (min-width: 900px) {

  /* View1 (Desktop)  */
  .container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .top,
  .bottom {
    width: 50%;
  }

  .view1 .bottom h1 {
    font-size: 5rem;
    padding-left: 5rem;
  }

  .view1 .text p {
    font-size: 2.5rem;
    max-width: 900px;
    margin: 0 auto;
  }

  .view1 .text {
    margin-bottom: 10rem;
  }

  /* View2 (Desktop)  */
  .view2 .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-between;
    padding-left: 4rem;
  }

  .view2 .container p {
    font-size: 1.5rem;
    padding-right: 7rem;
  }

  .view2 .container h1 {
    padding-bottom: 2rem;
  }

  .view2 .container .img {
    margin-top: 5rem;
  }

  /* View3 (Desktop)  */
}